
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main {
    color: rgb(255, 187, 0);
    text-align: center;
}

.index {
    text-align: center;
    list-style: none;
    text-decoration: none;
    color:rgb(255, 187, 0);
}

.odin {
    border-radius: .2em;
    opacity: 0.8;
}

.index-card {
    border: 3px solid darkred;
    background-color: antiquewhite;
    width: 450px;
    border-radius:.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
